# Docs: https://caddyserver.com/docs/caddyfile

laradock1.demo:80 {
    root /var/www/public
    # Create a Webhook in git.
    #git {
	#repo https://github.com/xxx/xxx
    #    path /home/xxx
    #    #interval 60
    #    hook  webhook laradock
    #    hook_type   generic
    #}

}

laradock2.demo:80 {
    # Create a Proxy and cors.
    #proxy domain.com
	#cors
}

laradock3.demo:80 {
    import authlist.conf
    root /var/www/public
}