.forum-icon-policy {
    float: left;
    width: 50px;
    margin-right: 20px;
    text-align: center;
}

.forum-icon-policy .fa {
    font-size: 3.2em;
    margin-top: 8px;
    color: #18a689;
}

.forum-item-policy-title {
    color: #18a689;
    display: block;
    font-size: 18px;
    font-weight: 600;
}
